osx_image: xcode10.2
language: objective-c
sudo: required

env:
  global:
    - PROJECT="SCDataStructure.xcodeproj"
    - SCHEME="SCDataStructure"
    - IOS_SDK="iphonesimulator12.2"
    - DESTINATION="platform=iOS Simulator,name=iPhone 7,OS=12.2"
    - FRAMEWORK="SCDataStructure"

before_install:
  - brew install swiftlint
  - gem install xcpretty -N
  - gem install xcpretty-travis-formatter

script:
  - set -o pipefail
  - xcodebuild clean build test
    -project "$PROJECT"
    -scheme "$SCHEME"
    -sdk "$IOS_SDK"
    -destination "$DESTINATION"
    -configuration Debug
    -enableCodeCoverage YES
    CODE_SIGN_IDENTITY="" CODE_SIGNING_REQUIRED=NO | xcpretty -f `xcpretty-travis-formatter`

after_success:
  - bash <(curl -s https://codecov.io/bash) -j SCDataStructure --cover-xml